<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>

    {{template "stockrender" .}}
    <script type="text/javascript">
        //let stock = window.location.href;
        //stock = stock.split('/')
        //alert(stock[4])
        //stock = stock[stock.length-1]
        //alert(stock)
        stock = {{.symbol}}
        console.log("stock", stock)
        Highcharts.getJSON('http://localhost:8888/renderdata/' + stock, function (data) {
            // Create the chart
            Highcharts.stockChart('container', {
    
                //stockname: 'RELIANCE',
                rangeSelector: {
                    selected: 1
                },
    
                title: {
                    text: stock + ' Stock Price'
                },
    
                series: [{
                    name: stock + ' Stock Price',
                    data: data,
                    marker: {
                        enabled: true,
                        radius: 3
                    },
                    shadow: true,
                    tooltip: {
                        valueDecimals: 2
                    }
                }]
            });
        });
    </script>
</html>